.content_border {
	width: 95%;
	height: 100%;
	margin-top: 20;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	background-color: white;
	color: black;
	box-shadow: 3px 3px 10px 3px grey;
}

.content_border_left {
	height: 100%;
	width: calc(47%);
	margin-left: 2.5%;
	margin-top: 20px;
	display: block;
	position: absolute;
	text-align: left;
	background-color: white;
	color: black;
	box-shadow: 3px 3px 10px 3px grey;
}

.content_spec_border {
	height: 750px;

	display: block;
	position: absolute;
	/* left: calc(285px + 800px + 2.5% + 20px); */
	left: calc(51% + 285px);
	margin-top: 20px;
	background-color: white;
	color: black;
	box-shadow: 3px 3px 10px 3px grey;
}

.content_grid_wrapper {
	display: grid;
	width: 100%;
	grid-gap: 0px;
	height: 100%;
	grid-template-rows: 40px 100%;

	/*   grid-auto-rows: minmax(100%, 100%); */
}

.content_title {
	list-style-type: none;
	grid-column: 1;
	grid-row: 1 / 2;
	position: inherit;
	height: 100%;
	width: 100%;
}

.content_body {
	position: inherit;
	grid-column: 1;
	grid-row: 2 / 2;
	width: 100%;
	Height: 100%;
	margin: 0;
}

.content_title_strong {
	color: rgb(81, 87, 211);
}

.content_header_strong {
	padding: 11px;
	margin-left: 0px;
	font-size: 20px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;

	color: white;
}

.box_ul {
	position: inherit;
	border: 1px solid #d9d9d9;
	position: relative;
	height: 100%;

	padding: 0px;
	margin: 20px;
}

.box_ul li {
	list-style-type: none;
}

.subtitle_li {
	font-size: 15;
	font-weight: 600;
	padding-left: 10px;
}

.content_li {
	font-size: 12;
	font-weight: 600;
	color: rgb(187, 177, 177);
	padding-left: 10px;
}

.content_ul {
	height: 100%;
	width: 100%;

	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;

	background-color: red;
	align-items: center;
	margin-left: 0%;
	margin-top: 0%;
}

.autol_btn {
	border-style: solid;
	border-radius: 3px;
	border-width: thin;
	border-color: #60affd;
	padding: 1px 3px 1px 3px;
	color: #0f4479;
	font-size: 13;
	font-weight: 600;
	/* background-color: #60AFFD;  */
	cursor: pointer;
	outline: none;
	box-shadow: 1px 2px 3px 0px gray;
	display: inline-block;

	vertical-align: middle;

	/*     box-shadow: 2px 2px 0 #60AFFD; */
}

.autol_btn::before {
	content: "";
	background: url(../web_images/save_w.png) no-repeat 0px 0px;
	background: url(../web_images/save.png) no-repeat 0px 0px;
	background-size: 15px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 20px;
	margin-left: 0px 0px 0px 0px;
}

.autol_btn:hover {
	color: white;
	background-color: #0373e3;
}

.autol_btn:hover::before {
	content: "";
	background: url(../web_images/save.png) no-repeat 0px 0px;
	background: url(../web_images/save_w.png) no-repeat 0px 0px;
	background-size: 15px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 20px;
	margin-left: 0px 0px 0px 0px;
}

.autol_btn:active {
	color: white;
	background-color: #0452a0;
}

.save_btn_pos {
	display: inline-block;
	margin-top: 10px;
	margin-right: 20px;
}

.save_btn {
	border-style: solid;
	border-radius: 3px;
	border-width: thin;
	border-color: #60affd;
	padding: 5px 3px 5px 3px;
	color: #0f4479;
	font-size: 13.5;
	font-weight: 600;
	background-color: white;

	/* background-color: #60AFFD;  */
	cursor: pointer;
	outline: none;
	box-shadow: 1px 2px 3px 0px gray;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 80px;
	/*     box-shadow: 2px 2px 0 #60AFFD; */
}

.save_btn::before {
	content: "";
	background: url(../web_images/save_w.png) no-repeat 0px 0px;
	background: url(../web_images/save.png) no-repeat 0px 0px;
	background-size: 20px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 30px;
	padding-top: 2px;
	margin-left: 0px 0px 0px 0px;
}

.save_btn:hover {
	color: white;
	background-color: #0373e3;
}

.save_btn:hover::before {
	content: "";
	background: url(../web_images/save.png) no-repeat 0px 0px;
	background: url(../web_images/save_w.png) no-repeat 0px 0px;
	background-size: 20px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 30px;
	margin-left: 0px 0px 0px 0px;
}

.save_btn:active {
	color: white;
	background-color: #0452a0;
}

.update_btn {
	border-style: solid;
	border-radius: 3px;
	border-width: thin;
	border-color: #60affd;
	padding: 1px 3px 1px 3px;
	color: #0f4479;
	font-size: 13;
	font-weight: 600;

	/* background-color: #60AFFD;  */
	cursor: pointer;
	outline: none;
	box-shadow: 1px 2px 3px 0px gray;
	display: inline-block;

	vertical-align: middle;
	width: 80px;

	/*     box-shadow: 2px 2px 0 #60AFFD; */
}

.update_btn::before {
	content: "";
	background: url(../web_images/update_w.png) no-repeat 0px 0px;
	background: url(../web_images/update.png) no-repeat 0px 0px;
	background-size: 15px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 25px;
	margin-left: 1px;
}

.update_btn:hover {
	color: white;
	background-color: #0373e3;
}

.update_btn:hover::before {
	content: "";
	background: url(../web_images/update.png) no-repeat 0px 0px;
	background: url(../web_images/update_w.png) no-repeat 0px 0px;
	background-size: 15px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 25px;
	margin-left: 1px;
}

.update_btn:active {
	color: white;
	background-color: #0452a0;
}

.refresh_btn_pos {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}

.refresh_btn {
	border-style: solid;
	border-radius: 3px;
	border-width: thin;
	border-color: #60affd;
	padding: 5px 3px 5px 3px;
	color: #0f4479;
	font-size: 13.5;
	background-color: white;
	font-weight: 600;
	/* background-color: #60AFFD;  */
	cursor: pointer;
	outline: none;
	box-shadow: 1px 2px 3px 0px gray;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 90px;
	/*     box-shadow: 2px 2px 0 #60AFFD; */
}

.refresh_btn::before {
	content: "";
	background: url(../web_images/refresh_w.png) no-repeat 0px 0px;
	background: url(../web_images/refresh.png) no-repeat 0px 0px;
	background-size: 20px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 25px;
	padding-top: 2px;
	margin-left: 0px 0px 0px 0px;
}

.refresh_btn:hover {
	color: white;
	background-color: #0373e3;
}

.refresh_btn:hover::before {
	content: "";
	background: url(../web_images/refresh.png) no-repeat 0px 0px;
	background: url(../web_images/refresh_w.png) no-repeat 0px 0px;
	background-size: 20px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 25px;
	margin-left: 0px 0px 0px 0px;
}

.refresh_btn:active {
	color: white;
	background-color: #0452a0;
}

.reboot_btn {
	border-style: solid;
	border-radius: 3px;
	border-width: thin;
	border-color: #60affd;
	padding: 1px 3px 1px 3px;
	color: #0f4479;
	font-size: 13;
	font-weight: 600;

	/* background-color: #60AFFD;  */
	cursor: pointer;
	outline: none;
	box-shadow: 1px 2px 3px 0px gray;
	display: inline-block;

	vertical-align: middle;
	width: 80px;

	/*     box-shadow: 2px 2px 0 #60AFFD; */
}

.reboot_btn::before {
	content: "";
	background: url(../web_images/refresh_w.png) no-repeat 0px 0px;
	background: url(../web_images/refresh.png) no-repeat 0px 0px;
	background-size: 15px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 25px;
	margin-left: 1px;
}

.reboot_btn:hover {
	color: white;
	background-color: #0373e3;
}

.reboot_btn:hover::before {
	content: "";
	background: url(../web_images/refresh.png) no-repeat 0px 0px;
	background: url(../web_images/refresh_w.png) no-repeat 0px 0px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	background-size: 15px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 25px;
	margin-left: 1px;
}

.reboot_btn:active {
	color: white;
	background-color: #0452a0;
}

.send_btn {
	border-style: solid;
	border-radius: 3px;
	border-width: thin;
	border-color: #60affd;
	padding: 1px 3px 1px 3px;
	color: #0f4479;
	font-size: 13;
	font-weight: 600;

	/* background-color: #60AFFD;  */
	cursor: pointer;
	outline: none;
	box-shadow: 1px 2px 3px 0px gray;
	display: inline-block;

	vertical-align: middle;
	width: 72px;

	/*     box-shadow: 2px 2px 0 #60AFFD; */
}

.send_btn::before {
	content: "";
	background: url(../web_images/send_w.png) no-repeat 0px 0px;
	background: url(../web_images/send.png) no-repeat 0px 0px;
	background-size: 15px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 27.5px;
	margin-left: 5px;
}

.send_btn:hover {
	color: white;
	background-color: #0373e3;
}

.send_btn:hover::before {
	content: "";
	background: url(../web_images/send.png) no-repeat 0px 0px;
	background: url(../web_images/send_w.png) no-repeat 0px 0px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	background-size: 15px;
	display: inline;
	height: 10px;
	width: 20px;
	vertical-align: middle;
	padding-left: 27.5px;
	margin-left: 5px;
}

.send_btn:active {
	color: white;
	background-color: #0452a0;
}

.file_textblock {
	border-bottom: 1px solid black;
	width: 200px;
	height: 20px;
	display: inline-block;
	font-size: 13;
}

.horizontal {
	margin: 0;
	height: 30px;
	padding-left: 0px;
	padding-top: 0px;
}

.horizontal li {
	display: inline-block;
}

/* golden / normal */
.header_div {
	padding: 0px;
	margin: 0px;
	/* background-color: gray; */

	/* background-color: #470303; */
	display: inline-block;
	background-color: #030d47;
	/* background-color: pink; */
	height: 50px;
	width: 100%;
	text-align: left;
	box-shadow: 1px 0px 7px 0px;
	position: fixed;
	top: 0px;
	left: 285px;
	margin-top: 0px;
	z-index: 10;
}

.header_div2 {
	height: 50px;
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	text-align: right;
}

.onlythree {
	width: 50px;
	border: 0;
}
